body {
    font-family: 'Roboto', sans-serif;
    background-color: #FEFEFA;
    border-color: black;
    border: 5%;
    
}

.main{
    font-size: 3em;
    background-image: url('https://static.pexels.com/photos/28080/pexels-photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em;
}

ul {
    list-style: none;
    text-align: left;
    

}

.main-options li {
    padding: 0.35em 0.35em;
    border-color: black;
    border-style: solid;
    margin-bottom: 0.5em;
    margin-right: 1em;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 0;
}

.main-options{
    padding-top: 0.5em;
    font-size: 2.5em;
}

ul li img{
    padding-right: 1em;
}

.button {
    cursor: pointer;
}