body {
    font-family: 'Roboto', sans-serif;
    color: #5b6170;
    background-color: #dfe6ed;
}

.main {
    padding: .75em;
    /*background-color: #94c5cc;*/
    background-image: url("https://static.pexels.com/photos/28080/pexels-photo.jpg");
    width: 90%;
    margin-left: 5%;
    align-content: center;
}

ul {
    list-style: none;
    cursor: pointer;
}

.main-options li {
    padding: 0.35em 0.35em;
    border-style: solid;
    margin-left: 5%;
    align-self: center;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: .001px;
    width: 85%;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 2.5%;
}

h3 {
    margin-left: 5%;
    margin-bottom: .2em;
}


.main-options {
    font-size: 1.5em;
    width: 50%;
    display: inline-block;
}

.main-options ul {
    position: relative;
}

ul li img{
    padding-right: 1em;
}

.button {
    cursor: pointer;
}

.workouts{
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.workoutTypes li {
    font-size: 1.5em;
    margin-top: .2em;
    border-style: solid;
    padding: .2em;
}

li:hover {
    background-color: #white;
}

#exercise-form {
    width: 85%;
    border: solid;
    margin: auto;
}

.textbox {
    margin-left: 7%;
    padding: .25em;
    font-size: 1em;
}

.button {
    padding: .5em;
    margin-left: 7%;
    margin-bottom: 2em;
    width: 80px;
}